@import "tailwindcss";

@font-face {
  font-family: "vibe";
  src: url('../public/fonts/Catboo-6RYeq.otf')format('truetype');
}

@font-face {
  font-family: "helvatica";
  src: url('/public/fonts/helveticanowtext-bolditalic-demo.ttf')format('truetype');

}

@font-face {
  font-family: "rent";
  src: url('/public/fonts/Raintion-Black.ttf')format('truetype');

}

@font-face {
  font-family: "av";
  src: url('/public/fonts/Avenis.otf')format('truetype');

}

@font-face {
  font-family: "hel2";
  src: url('/public/fonts/helveticanowtext-black-demo.ttf')format('truetype');

}
html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
  
}

body{
  font-family: "rent";


}